/* General */

.test-border {
  border: 3px solid green;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");

:root {
  font-family: "Inter", sans-serif;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-button {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}

.box-shadow {
  box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.2);
}

/* Header Section */

header {
  background-image: linear-gradient(
      to top,
      rgba(18, 18, 18, 1),
      rgba(18, 18, 18, 0)
    ),
    url("../assets/images/donation13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 100px;
}

header > div {
  width: 60%;
}

/* Donate Today Section */

#donate-section {
  padding: 50px 100px;
}

#donate-section > div {
  width: 70%;
}

#donate-section > p {
  margin-bottom: 20px;
  color: #707070;
}

#donation-amounts {
  margin-top: 50px;
}

#donation-amounts > div {
  font-size: 30;
  font-weight: bold;
  box-sizing: border-box;
  width: 136px;
  height: 136px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#donation-amounts {
  justify-content: space-between;
  align-items: center;
}

#donate-section input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #dadada;
  height: 28px;
  font-size: 18px;
  text-align: center;
}

.donation-amount {
  color: #707070;
}

.donation-amount.selected {
  color: #ff5959;
  background-color: #ffeeee;
  border: 2px solid #ff5959;
}

/* Donation Plans Section */

#donation-plan-section > div {
  width: 70%;
}

#donation-plans {
  margin-top: 50px;
  justify-content: space-between;
  align-items: stretch;
  text-align: start;
  font-family: "Poppins", sans-serif;
}

.donation-plan {
  width: 25%;
  padding: 20px 30px;
  border-radius: 10px;
}

.donation-plan p {
  font-size: 1rem;
}

.donation-plan:nth-child(1) {
  background-color: rgba(79, 157, 166, 0.1);
}

.donation-plan:nth-child(2) {
  background-color: rgba(255, 89, 89, 0.1);
}

.donation-plan:nth-child(3) {
  background-color: rgba(255, 244, 214, 1);
}

/* news-section */

#news-section > div {
  width: 80%;
  padding: 0;
  padding-top: 50px;
}

#news-cards {
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
}

.news-card {
  width: 32%;
  padding: 0;
}

.news-card .news-image {
  width: 100%;
}

.news-card a {
  display: block;
  border-radius: 0;
}

p.news-peek {
  margin-bottom: 3%;
  color: #32404e;
  font-size: 16px;
  padding: 1%;
  height: 70px;
  overflow: hidden;
}

/* Corporate Partners Section */

#corporate-partners-section > div {
  width: 60%;
  padding: 50px 0 0 0;
}

#corporate-partners-section p {
  font-size: 16px;
  color: #32404e;
  margin-bottom: 48px;
}

#images-of-companies img {
  margin: 0 16px;
  height: 30px;
}

/* Get My Updates Section */

#get-updates-section {
  padding: 50px 100px;
}

#get-updates-section > div {
  width: 50%;
}

#subscription-form-container {
  background-color: #fff4d6;
  height: 200px;
  margin-top: 50px;
}

#subscription-form-container form {
  width: 70%;
  padding: 0;
  margin: 0;
}

#subscription-form-container form input {
  display: inline-block;
  margin: 0;
  height: 30px;
  border-width: 0;
  font-size: 16px;
}

input#email {
  width: 50%;
  padding-left: 10px;
  font-size: 16px;
}

input#submit {
  width: 30%;
  background-color: #ff5959;
  color: white;
  font-size: 16px;
}

/* Footer Section */
footer {
  background-color: black;
  padding: 25px;
  margin-top: 20px;
}

footer h2 {
  font-family: "Lobster", cursive;
  font-size: 36px;
  font-style: italic;
  color: #ff5959;
}

footer p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #d9dbe1;
}
